@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header-nav {
  height: 80px;
  width: 100vw;
}

.header-nav__logo {
  width: 8vw;
  height: 2rem;
  display: flex;
  padding-left: 1.25rem;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 2%;
}

.header-nav__menu {
  float: right;
  margin-right: 35px;
  margin-top: 50px;
  display: flex;
}

.header-nav__menu--pic {
  cursor: pointer;
  margin-left: 0.5rem;
}
