@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.signup {
  @include login-signup-main-form;

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__form {
    &--heading {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      color: $color-signup-dark-blue;
      margin: 3rem 0rem 2rem 0rem;
    }

    &--inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__textboxes {
        @include login-signup-texboxes;
      }
    }

    &--input-box {
      @include login-signup-input-box;
    }

    &--cta {
      @include ctas-sign-log;
    }
    &--btn {
      @include btns-sign-log;
    }

    &--show {
      margin-left: 0.5rem;
    }

    &--btn {
      margin-top: 2rem;
    }

    &--success-msg {
      color: $color-btns-lighter-green;
      font-weight: 700;
      text-align: center;
      @include tablet {
        display: flex;
        justify-content: flex-end;
        padding-right: 1.5rem;
      }
    }

    &--error-msg {
      @include login-signup-error-msg;
    }
  }

  input[type="radio"]:checked {
    accent-color: $color-btns-lighter-green;
  }

  &__login {
    text-align: center;
    @include tablet {
      display: flex;
      justify-content: flex-end;
      padding-right: 3rem;
    }

    &--link {
      text-decoration: none;
      margin-left: 1rem;
    }
  }

  .role {
    @include role-style;
  }
}
