@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";
@use "../../styles/partials/fonts" as *;

.landing {
  // border: 1px solid red;
  font-family: $font-regular;
}
.add-btn {
  width: 2.5rem;
  height: 2.5rem;
}
