@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.landing {
  font-family: $font-regular;
}

.landing__add {
  text-align: center;
}

.landing__add--btn {
  width: 3rem;
  height: 3rem;
}
