@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.add-tenant {
  background-color: white; //modal
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-tenant__elem {
  background-color: pink;
  border-radius: 1%;
}
