@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.profile-info {
  background-color: white;
  position: fixed; //if this is not fixed, modal component
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.profile-info__elem {
  background-color: pink;
  border-radius: 1%;
}
