// $desktop-breakpoint: 1280px; //styling is not applied to this breakpoint on this project
$tablet-breakpoint: 768px;

$color-chats-light-green: #6db724;
$color-btns-lighter-green: #008f17;
$color-btns-hover-green: #9acd32;
$color-footer-darker-green: #0f711e;
$color-description-black: #201b1b;
$color-labels-lighter-gray: #888888;
$color-slogan-light-gray: #7b7f9e;
$color-href-light-blue: #0750d0;
$color-signup-dark-blue: #22215b;
$color-data-darker-blue: #1a2b49;
$color-red: #ff0000;
$color-white: #ffffff;
$color-font-gray: #737b7d;
$color-input-box: #f2f3f3;
