@use "../../styles/partials/variables";
@use "../../styles/partials/mixins";

.rentals {
  display: relative;
  padding: 0rem;
}

.rentals__backdrop {
  border: 1px solid red;
  width: 100vw;
  // height: 100vw;
}

.rentals__btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  // padding-right: 1rem;
}

.rentals__btn--cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  min-width: 15rem;
  height: 3rem;
  text-align: center;
  background-color: green;
  cursor: pointer;
  transition: box-shadow 0.2s;
  color: white;
  font-weight: 400;
  &:hover {
    background-color: yellowgreen;
  }
}
