@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.tenant {
  font-family: $font-regular;
  @include tablet {
    padding: 0rem 1rem;
    margin: 0rem 10rem;
  }
}

.tenant__info {
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(211 211 211 / 10%);
  padding-bottom: 1rem;
  width: 100%;
}

.tenant__info--heading {
  font-size: 1.2rem;
  color: $color-font-add-tenant-heading-gray;
  padding-bottom: 1rem;
}

.tenant__info--det {
  color: $color-data-darker-blue;
}

.tenant__info--det--name {
  font-size: 1.3rem;
  font-weight: 800;
}

.tenant__info--det--ratings {
  display: flex;
  flex-direction: row;
}
.tenant__info--det--amount {
  font-weight: 600;
}

.tenant__info--det--ratings__star {
  width: 1rem;
  margin-right: 0.2rem;
}

.tenant__info--det--icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tenant__info--det--icons__avatar {
  width: 2rem;
}

.tenant__info--det--icons__cta--chat {
  width: 2rem;
  margin: 0rem 0.2rem;
}

.tenant__info--det--icons__cta--edit {
  width: 2rem;
  margin: 0rem 0.2rem;
}

.tenant__info--group {
  display: flex;
  justify-content: space-between;
}

.tenant__info--group__paystat {
  display: flex;
  flex-direction: row;
}

.tenant__info--group__paystat--label {
  margin-left: 0.2rem;
}

.tenant__info--group__paystat--date {
  margin-left: 0.7rem;
}

.error-message {
  padding-top: 2rem;
  color: red;
  display: flex;
  justify-content: center;
}
