@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.property-card {
  color: $color-data-darker-blue;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  padding: 1.25rem;
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px $color-white,
    0.3em 0.3em 1em rgb(26 43 73 / 60%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;

  &__grp1 {
    width: 58%;
    font-size: 1.2rem;
    @include tablet {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 5%;
    }

    &--elem1 {
      display: flex;
      flex-direction: row;
    }

    &--elem1-type,
    &--elem1-star,
    &--elem1-rating,
    &--elem1-reviews {
      font-size: 0.9rem;
      margin-right: 0.3rem;
      @include tablet {
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
    }

    &--elem1-star {
      width: 1rem;
      @include tablet {
        width: 1.5rem;
      }
    }

    &--elem2 {
      font-size: 1.5rem;
      @include tablet {
        font-size: 2rem;
      }
    }
  }

  &__grp2 {
    width: 40%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: right;

    @include tablet {
      width: 40%;
      flex-direction: row-reverse;
      text-align: right;
      justify-content: space-between;
      padding-left: 5%;
    }

    &--details-rent {
      font-weight: 600;
    }
  }

  &__del-btn,
  &__ed-btn {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
}
